.title h2 span{
    color: #f56692;
}
.title {
   
    top: 90px;  
} 
.title h1{
    font-size: 4.5rem;
    font-weight: 900;
    color: #f4f4f4;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.title h2{
    font-size: 3.5rem;
    font-weight: bold;
    color: black;
   
    letter-spacing: 5px;
}
.protofilo{
    position: relative;
}
.desc{
    font-weight: bold;
}
/* Styles for select wrapper */
.select-wrapper {
    position: relative;
    display: inline-block;
  }
  
  /* Styles for custom select */
  .custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0.5rem 2rem 0.5rem 1rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  
   a {
    color: #f56692; 
    margin: 0 10px; 
    font-size: 18px; 
    border-radius: 50%;
    border: 1px solid #f56692;
    padding: 11px;
    text-decoration: none;
    font-size: 30px;

}