<div class="protofilo">
    <div class="title position-relative d-flex justify-content-center align-items-center">
        <h1 class="m-0">ABOUT <span>ME</span></h1>
        <h2 class="m-0 position-absolute">ABOUT <span>ME</span></h2>
    </div>
</div>
<div class="container" style="margin-top: 150px;">
    <div class="def">
        <h1>Who Am I ?</h1>

        <p>Hello there, My name is Fatma Ahmed, I'm a Full Stack .NET Developer, and I enjoy building web applications
            using ASP.NET and Angular.
            During my career, I have gained extensive experience in both frontend and backend development, working with
            technologies such as C#, ASP.NET, Entity Framework, Angular, and more. I have successfully delivered various
            projects, including e-commerce platforms, management systems, and dynamic web applications.</p>

    </div>
    <br>
    <div class="def">
        <h1>Education :</h1>

        <p>Faculty of Engineering, Al Azhar University Cairo, Egypt B.Sc. In Systems and Computer Engineering.
            Oct. 2018 - Sept. 2023
            <br>
            • General grade: Excellent .
            <br>
            • Graduation Project: E-commerce website Role: (Frontend) .</p>

    </div>

    <div class="def">
        <h1>Experience :</h1>
<p> <span>•Training in ITI ( PWD Track Full stack dot net) 9month  </span><br>
     ITI: 10/ 2023 – 06/ 2024 <br>
     Complete understanding of Full stack development technologies; asp.net & Angular Track <br>
    •<span> Back End Web Development Diploma </span> <br>
     Route Academy: 07/ 2022 – 05/ 2023 <br>
     Complete understanding of web development technologies; asp.net & Angular Track <br>
    • <span> Front End Web Development Diploma </span> <br>
     Senior Steps Academy: 07/ 2021 – 05/ 2022 <br>
     Complete understanding of web development technologies; html,css,js <br>
    </p>

    </div>

    <div class="def">
        <h1>Certificates :</h1>
 <p>
    • ITI Internship <br>
    FULL Stack Web Developer 06/2024 <br>
   
    • Route Academy <br>
    Back end Web Developer 06/2023 <br>
    • Senior Step Academy <br>
    Front end Web Developer 06/2022
</p>

    </div>

    
    <div class="def">
        <h1>ACTIVITIES :</h1>
 <p>
    • Member in IEEE ALazhar university,MSP Student Activity. <br> 
    • The main goal of this community is to help all students to improve their programming and problem
    solving skills and teach them some important algorithms. 
</p>

    </div>
    <div class="def">
        <h1>Freelance Profile :</h1>
 <p>
  
    <a style="text-decoration: none; color: #f56692;" href="https://khamsat.com/user/fatma_elshemy">My Account on Khamsat Platform</a> <br>
    • Achieve four job khamsat website with client review 
</p>

    </div>
    <div class="skills">
        <h1 class="text-center">My Skills </h1>
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-md-5 g-4">
              <ng-container *ngFor="let skill of skills">
                <div class="col skill m-2">
                  <div class="card h-100 d-flex " style="border: none;">
                    <div class="card-body d-flex ">
                      <img [src]="skill.image" class=" mr-3" style="width: 40%; max-height: 100px;" alt="...">
                      <h2 class="card-title " style="color: #454e56; margin-left: 19px; font-size: 1.4rem; margin-top: 7px;">{{skill.title}}</h2>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          
</div>



